# QCTO - Workplace Module

### Mastering Avocado Pricing: A Strategic Approach to Regional, Seasonal, and Predictive Insights
#### Done By: Keneilwe Rangwaga

© ExploreAI 2024
<p align="center">
  <img src="https://plantsvibe.com/wp-content/uploads/2024/05/avocado-tree-growth-phases.jpg" alt="Navigating Avocado Pricing" width="600">
</p>

---

<a id="toc"></a>
## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
<a id="BC"></a>
## **Background Context**
<a href=#toc>Back to Table of Contents</a>

**Introduction:**

Avocados have become more than just a trendy fruit; they represent a dynamic and rapidly evolving market within the global produce industry. From guacamole at the dinner table to avocado toast on breakfast menus worldwide, the demand for avocados has surged over the past decade. However, this popularity has introduced complexities in the avocado market, particularly concerning pricing and sales volume. Various factors, including regional demand, seasonality, and market dynamics, have significantly impacted how avocados are priced and sold across different regions and times of the year.

To better understand these complexities, this project aims to dissect the intricate patterns of avocado pricing and sales from 2015 to 2023, provided by the Hass Avocado Board. By exploring the interplay between geography, seasonality, and economic factors, the project aims to reveal the underlying trends and patterns that influence avocado pricing and sales. The insights gained will be crucial for stakeholders in the avocado industry to optimize their pricing strategies, forecast market trends, and enhance the overall efficiency of the supply chain.

Problem Statement:

Avocado pricing and sales are influenced by a complex interplay of regional differences, seasonal trends, and market dynamics. For stakeholders in the avocado industry, understanding these factors is critical to optimizing pricing strategies, forecasting future trends, and enhancing supply chain efficiency. This project seeks to address the challenge of accurately analyzing how geography, seasonality, and economic events have impacted avocado prices and sales volumes from 2015 to 2023.By developing predictive models and integrating these insights, this project aims to provide actionable recommendations that will enable better decision-making and strategic planning in the avocado market

---
<a id="one"></a>
## **Importing Package**
<a href=#toc>Back to Table of Contents</a>


* In this section we're going to List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.filterwarnings('ignore')# Ignore all warnings

---
<a id="two"></a>
## **Data Collection and Description**
<a href=#toc>Back to Table of Contents</a>

This data was initially downloaded from the Hass Avocado Board website in May of 2018 & compiled into a single CSV. Here's how the Hass Avocado Board describes the data on their website:

The dataset represents weekly 2018 retail scan data for National retail volume (units) and price. Retail scan data comes directly from retailers’ cash registers based on actual retail sales of Hass avocados. Starting in 2013, the table below reflects an expanded, multi-outlet retail data set. Multi-outlet reporting includes an aggregation of the following channels: grocery, mass, club, drug, dollar and military. The Average Price (of avocados) in the table reflects a per unit (per avocado) cost, even when multiple units (avocados) are sold in bags. The Product Lookup codes (PLU’s) in the table are only for Hass avocados. Other varieties of avocados (e.g. greenskins) are not included in this table.

You can access the data [here](https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023/data) through kaggle.

The dataset contains 53,415 entries and 12 columns, with information on avocado prices, volumes, and regions from 2015 to 2023. Here’s a summary of the key details:
* Categorical
* Total Rows: 53,415
* Total Columns: 12

Columns Information:

1.	Date: The date of the observation (466 unique dates).
2.	AveragePrice: The average price of avocados.
3.	TotalVolume: The total volume of avocados sold.
4.	plu4046, plu4225, plu4770: Specific product look-up codes (PLU) representing different avocado products.

    4046 - small/medium Hass Avocados (~3-5 oz)

    4225 - large Hass Avocados (~8-10 oz)

    4770 - extra large Hass Avocados (~10-15 oz)
5.	TotalBags, SmallBags, LargeBags, XLargeBags: Number of avocados sold in different packaging types.

6.	Type: Indicates whether the avocado is “conventional” or “organic”.
7.	Region: Region of the sale (60 unique regions).

---
<a id="three"></a>
## **Loading Data**
<a href=#toc>Back to Table of Contents</a>

In this section we're going to load the data into the notebook for manipulation and analysis.
- The code in the cell below is used to load the data/csv file and display the first few rows to give a sense of what the raw data looks like.
---

In [2]:
# Load the dataset
df = pd.read_csv('Avocado_HassAvocadoBoard_20152023v1.0.1.csv')

# Check the first few rows to understand the data
print(df.head())

         Date  AveragePrice  TotalVolume    plu4046    plu4225   plu4770  \
0  2015-01-04          1.22     40873.28    2819.50   28287.42     49.90
1  2015-01-04          1.79      1373.95      57.42     153.88      0.00
2  2015-01-04          1.00    435021.49  364302.39   23821.16     82.15
3  2015-01-04          1.76      3846.69    1500.15     938.35      0.00
4  2015-01-04          1.08    788025.06   53987.31  552906.04  39995.03

   TotalBags  SmallBags  LargeBags  XLargeBags          type  \
0    9716.46    9186.93     529.53         0.0  conventional
1    1162.65    1162.65       0.00         0.0       organic
2   46815.79   16707.15   30108.64         0.0  conventional
3    1408.19    1071.35     336.84         0.0       organic
4  141136.68  137146.07    3990.61         0.0  conventional

                region
0               Albany
1               Albany
2              Atlanta
3              Atlanta
4  BaltimoreWashington

---
<a id="four"></a>
## **Data Cleaning and Filtering**
<a href=#toc>Back to Table of Contents</a>


Data cleaning is the essential first step in any analysis, much like laying down a strong foundation before building a house. It’s about carefully going through your dataset to spot and fix any errors, inconsistencies, or gaps, making sure everything is accurate and relevant.
During this process, I focus on tasks like removing duplicates, correcting mistakes, and handling missing values. It’s about organizing and refining the data so that when it comes time to analyze, the results are trustworthy and precise.

In short, data cleaning is crucial because it directly influences the quality of your analysis, ensuring that the insights you gain are reliable and actionable.

**Below are the steps we will explore to clean the dataset**
1. Understanding the Data
2. Handling Missing Values
3. Date Column Formatting
4. Handling Inconsistent Data
5. Feature Engineering
6. Data Validation
7. Final Cleaned Dataset
---



#### 1. Understanding the Data

* Check for Missing Values: Identify columns with missing values and determine the extent of missing data.
* Check for Duplicates: Identify and remove any duplicate rows in the dataset.
* Check Data Types: Ensure that each column has the correct data type.

In [3]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Check data types
print("Data Types:\n", df.dtypes)

Missing Values:
 Date                0
AveragePrice        0
TotalVolume         0
plu4046             0
plu4225             0
plu4770             0
TotalBags           0
SmallBags       12390
LargeBags       12390
XLargeBags      12390
type                0
region              0
dtype: int64
Number of duplicate rows: 0
Data Types:
 Date             object
AveragePrice    float64
TotalVolume     float64
plu4046         float64
plu4225         float64
plu4770         float64
TotalBags       float64
SmallBags       float64
LargeBags       float64
XLargeBags      float64
type             object
region           object
dtype: object

#### 2. Handling Missing Values
* Analyze Missing Data: Determine which columns have missing data and consider the best approach (e.g., imputation, deletion).  
* Impute Missing Values: If the missing data is minimal, consider imputing it with the mean, median, or mode as appropriate.

In [4]:
# Impute missing values with the mean
df['SmallBags'].fillna(df['SmallBags'].mean(), inplace=True)
df['LargeBags'].fillna(df['LargeBags'].mean(), inplace=True)
df['XLargeBags'].fillna(df['XLargeBags'].mean(), inplace=True)

# Format the values to 2 decimal places
df = df.round(2)
print(df)

             Date  AveragePrice  TotalVolume    plu4046    plu4225   plu4770  \
0      2015-01-04          1.22     40873.28    2819.50   28287.42     49.90
1      2015-01-04          1.79      1373.95      57.42     153.88      0.00
2      2015-01-04          1.00    435021.49  364302.39   23821.16     82.15
3      2015-01-04          1.76      3846.69    1500.15     938.35      0.00
4      2015-01-04          1.08    788025.06   53987.31  552906.04  39995.03
...           ...           ...          ...        ...        ...       ...
53410  2023-12-03          1.55      5693.91     204.64    1211.25      0.00
53411  2023-12-03          1.70    343326.10   66808.44  132075.11     58.65
53412  2023-12-03          1.62     34834.86   15182.42    1211.38      0.00
53413  2023-12-03          1.25      2942.83    1058.54       7.46      0.00
53414  2023-12-03          1.48   2010020.72  271808.32  274480.64     63.43

        TotalBags  SmallBags  LargeBags  XLargeBags          type  \
0         9716.46    9186.93     529.53        0.00  conventional
1         1162.65    1162.65       0.00        0.00       organic
2        46815.79   16707.15   30108.64        0.00  conventional
3         1408.19    1071.35     336.84        0.00       organic
4       141136.68  137146.07    3990.61        0.00  conventional
...           ...        ...        ...         ...           ...
53410     4278.03  103922.17   23313.16     2731.81       organic
53411   138830.45  103922.17   23313.16     2731.81       organic
53412    18075.66  103922.17   23313.16     2731.81       organic
53413     1779.19  103922.17   23313.16     2731.81       organic
53414  1364514.02  103922.17   23313.16     2731.81       organic

                    region
0                   Albany
1                   Albany
2                  Atlanta
3                  Atlanta
4      BaltimoreWashington
...                    ...
53410               Toledo
53411                 West
53412     WestTexNewMexico
53413              Wichita
53414              TotalUS

[53415 rows x 12 columns]

#### 3. Date Column Formatting
* Convert Date Column: Ensure the Date column is in datetime format to allow for easier manipulation and analysis.

In [5]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

print(df)

            Date  AveragePrice  TotalVolume    plu4046    plu4225   plu4770  \
0     2015-01-04          1.22     40873.28    2819.50   28287.42     49.90
1     2015-01-04          1.79      1373.95      57.42     153.88      0.00
2     2015-01-04          1.00    435021.49  364302.39   23821.16     82.15
3     2015-01-04          1.76      3846.69    1500.15     938.35      0.00
4     2015-01-04          1.08    788025.06   53987.31  552906.04  39995.03
...          ...           ...          ...        ...        ...       ...
53410 2023-12-03          1.55      5693.91     204.64    1211.25      0.00
53411 2023-12-03          1.70    343326.10   66808.44  132075.11     58.65
53412 2023-12-03          1.62     34834.86   15182.42    1211.38      0.00
53413 2023-12-03          1.25      2942.83    1058.54       7.46      0.00
53414 2023-12-03          1.48   2010020.72  271808.32  274480.64     63.43

        TotalBags  SmallBags  LargeBags  XLargeBags          type  \
0         9716.46    9186.93     529.53        0.00  conventional
1         1162.65    1162.65       0.00        0.00       organic
2        46815.79   16707.15   30108.64        0.00  conventional
3         1408.19    1071.35     336.84        0.00       organic
4       141136.68  137146.07    3990.61        0.00  conventional
...           ...        ...        ...         ...           ...
53410     4278.03  103922.17   23313.16     2731.81       organic
53411   138830.45  103922.17   23313.16     2731.81       organic
53412    18075.66  103922.17   23313.16     2731.81       organic
53413     1779.19  103922.17   23313.16     2731.81       organic
53414  1364514.02  103922.17   23313.16     2731.81       organic

                    region
0                   Albany
1                   Albany
2                  Atlanta
3                  Atlanta
4      BaltimoreWashington
...                    ...
53410               Toledo
53411                 West
53412     WestTexNewMexico
53413              Wichita
53414              TotalUS

[53415 rows x 12 columns]

#### 4. Handling Inconsistent Data
* Standardize Text Data: Ensure consistency in text-based columns, make sure there is no inconsistent capitalization or spelling.
* Correct Outliers: Identify any outliers that may affect the analysis, especially in price or volume-related columns. Outliers should be analyzed to decide if they should be removed or retained.

In [6]:
# Standardize text data
df['region'] = df['region'].str.lower().str.strip()# Convert to lowercase and strip leading/trailing spaces
df['type'] = df['type'].str.lower().str.strip()  # Convert to lowercase and strip leading/trailing spaces
df['region'] = df['region'].str.replace(r'\s+', ' ', regex=True)  # Replace multiple spaces with a single space
df['type'] = df['type'].str.replace(r'\s+', ' ', regex=True)  # Replace multiple spaces with a single space

# Detect outliers using Z-score
# Calculate Z-scores for the 'AveragePrice' column
df['z_score'] = np.abs(stats.zscore(df['AveragePrice']))

# Filter out outliers (Z-score > 3 is often considered an outlier)
df_clean = df[df['z_score'] < 3]
df_clean.drop(columns=['z_score'], inplace=True)

#### 5. Feature Engineering


*	Aggregate Data: Depending on the analysis goals, consider aggregating data by region, year, or quarter.
*   Create New Features: Based on existing columns, create new features that may be useful for analysis

In [7]:
# Extract year, month, and day features
df_clean['Year'] = df_clean['Date'].dt.year
df_clean['Month'] = df_clean['Date'].dt.month

# Create a new feature 'PricePerUnitVolume'
# Calculate the price per unit volume (AveragePrice / TotalVolume)
df_clean['PricePerUnitVolume'] = df_clean['AveragePrice'] / df_clean['TotalVolume']

# Aggregate data by region and year
agg_data = df_clean.groupby(['region', 'Year']).agg({
    'AveragePrice': 'mean',
    'TotalVolume': 'sum'
}).reset_index()
print(df_clean)

            Date  AveragePrice  TotalVolume    plu4046    plu4225   plu4770  \
0     2015-01-04          1.22     40873.28    2819.50   28287.42     49.90
1     2015-01-04          1.79      1373.95      57.42     153.88      0.00
2     2015-01-04          1.00    435021.49  364302.39   23821.16     82.15
3     2015-01-04          1.76      3846.69    1500.15     938.35      0.00
4     2015-01-04          1.08    788025.06   53987.31  552906.04  39995.03
...          ...           ...          ...        ...        ...       ...
53410 2023-12-03          1.55      5693.91     204.64    1211.25      0.00
53411 2023-12-03          1.70    343326.10   66808.44  132075.11     58.65
53412 2023-12-03          1.62     34834.86   15182.42    1211.38      0.00
53413 2023-12-03          1.25      2942.83    1058.54       7.46      0.00
53414 2023-12-03          1.48   2010020.72  271808.32  274480.64     63.43

        TotalBags  SmallBags  LargeBags  XLargeBags          type  \
0         9716.46    9186.93     529.53        0.00  conventional
1         1162.65    1162.65       0.00        0.00       organic
2        46815.79   16707.15   30108.64        0.00  conventional
3         1408.19    1071.35     336.84        0.00       organic
4       141136.68  137146.07    3990.61        0.00  conventional
...           ...        ...        ...         ...           ...
53410     4278.03  103922.17   23313.16     2731.81       organic
53411   138830.45  103922.17   23313.16     2731.81       organic
53412    18075.66  103922.17   23313.16     2731.81       organic
53413     1779.19  103922.17   23313.16     2731.81       organic
53414  1364514.02  103922.17   23313.16     2731.81       organic

                    region  Year  Month  PricePerUnitVolume
0                   albany  2015      1        2.984835e-05
1                   albany  2015      1        1.302813e-03
2                  atlanta  2015      1        2.298737e-06
3                  atlanta  2015      1        4.575362e-04
4      baltimorewashington  2015      1        1.370515e-06
...                    ...   ...    ...                 ...
53410               toledo  2023     12        2.722207e-04
53411                 west  2023     12        4.951561e-06
53412     westtexnewmexico  2023     12        4.650514e-05
53413              wichita  2023     12        4.247612e-04
53414              totalus  2023     12        7.363108e-07

[53162 rows x 15 columns]

#### 6. Data Validation

* Verify Data Consistency: Check for any inconsistencies or anomalies across the dataset after cleaning.
* Cross-Validation: Validate the cleaned data by cross-checking with any available external sources or by ensuring logical consistency across different columns.

In [8]:
# Check for consistency in the cleaned data
print(df_clean.describe())

# Verify that there are no missing values
print("Missing Values After Cleaning:\n", df_clean.isnull().sum())

# Check for duplicates again after cleaning
print(f"Number of duplicate rows after cleaning: {df_clean.duplicated().sum()}")

                                Date  AveragePrice   TotalVolume  \
count                          53162  53162.000000  5.316200e+04
mean   2019-07-21 23:22:22.567999744      1.422541  8.735184e+05
min              2015-01-04 00:00:00      0.440000  8.456000e+01
25%              2017-05-14 00:00:00      1.120000  1.647635e+04
50%              2019-08-11 00:00:00      1.400000  1.217986e+05
75%              2021-10-03 00:00:00      1.690000  4.571965e+05
max              2023-12-03 00:00:00      2.600000  6.103446e+07
std                              NaN      0.382925  3.553208e+06

            plu4046       plu4225       plu4770     TotalBags     SmallBags  \
count  5.316200e+04  5.316200e+04  5.316200e+04  5.316200e+04  5.316200e+04
mean   2.996787e+05  2.232417e+05  2.062959e+04  2.185275e+05  1.042667e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    7.079475e+02  2.118660e+03  0.000000e+00  8.010360e+03  0.000000e+00
50%    1.493233e+04  1.780699e+04  9.240000e+01  3.732899e+04  1.164922e+04
75%    1.297281e+05  9.440106e+04  3.660605e+03  1.117851e+05  1.039222e+05
max    2.544720e+07  2.047057e+07  2.860025e+06  1.629830e+07  1.256716e+07
std    1.310618e+06  9.576174e+05  1.043355e+05  8.696309e+05  5.000380e+05

          LargeBags     XLargeBags          Year         Month  \
count  5.316200e+04   53162.000000  53162.000000  53162.000000
mean   2.338602e+04    2741.001222   2019.059272      6.462605
min    0.000000e+00       0.000000   2015.000000      1.000000
25%    0.000000e+00       0.000000   2017.000000      4.000000
50%    5.055350e+02       0.000000   2019.000000      6.000000
75%    2.331316e+04    2731.810000   2021.000000      9.000000
max    4.324231e+06  679586.800000   2023.000000     12.000000
std    1.314662e+05   19843.003612      2.551390      3.434303

       PricePerUnitVolume
count        5.316200e+04
mean         1.017726e-04
min          1.261582e-08
25%          2.622613e-06
50%          1.059946e-05
75%          9.955604e-05
max          1.880322e-02
std          2.375006e-04
Missing Values After Cleaning:
 Date                  0
AveragePrice          0
TotalVolume           0
plu4046               0
plu4225               0
plu4770               0
TotalBags             0
SmallBags             0
LargeBags             0
XLargeBags            0
type                  0
region                0
Year                  0
Month                 0
PricePerUnitVolume    0
dtype: int64
Number of duplicate rows after cleaning: 0

#### 7. Final Cleaned Dataset
* Create a Final Cleaned Dataset: After performing all necessary steps, create a final cleaned version of the dataset that is ready for exploratory data analysis (EDA) and modeling.

In [9]:
# Save the cleaned dataset
df_clean.to_csv('cleaned_avocado_data.csv', index=False)